// main: ../theme.scss
html, body {
	height: 100%;
}
body {
	color: $font-color;
	font-family: $font-primary;
	font-size: $font-size;
	line-height: $line-height;
	margin: 0;
}

a {
	color: $font-color;
	transition: all 0.3s ease;

	&:hover,
	&:focus {
		color: #333;
		text-decoration: none;
		outline: none !important;
	}
}

li {
	line-height: $line-height;
}

p {
	margin-bottom: $line-height;
}

.font-primary { font-family: $font-primary }
.font-secondary { font-family: $font-secondary }

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
	font-family: $font-heading;
	font-weight: 400;
	margin-top: $line-height;
	margin-bottom: $line-height*.5;
}

h1, .h1 {
	font-size: $font-size*5;
	line-height: $font-size*5;
}
h2, .h2 {
	font-size: $font-size*4;
	line-height: $font-size*4;
}
h3, .h3 {
	font-size: $font-size*3;
	line-height: $font-size*3;
}
h4, .h4 {
	font-size: $font-size*2.5;
	line-height: $font-size*2.5;
}
h5, .h5 {
	font-size: $font-size*2;
	line-height: $font-size*2;
}
h6, .h6 {
	font-size: $font-size*1.5;
	line-height: $font-size*1.5;
}

#wrapper {
	height: 100%;
	background: #222;
}
.no-scroll {
	overflow: hidden;
}
.no-scroll-with-padding {
	overflow: hidden;
	padding-right: 17px;
}
